* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
::selection {
	background: #000;
	color: #C6F0C2;
}
:focus {
	outline-color: #2B735640;
}
:hover, :hover:not(:hover) {
	transition:  0.6s ease;
}
:hover:not(:hover) {}
:focus {
	outline: none;
}
a:hover:not(header a:hover) {
	opacity: 0.7;
}
body {
	width: 100%;
	font-family: 'Montserrat', sans-serif;
}
input[type=text] {
	font-size: 18px;
}
h1 {
	font-size: 60px;
	font-weight: 900;
	color: #212134
}
h2 {
	font-size: 50px;
	font-weight: 900;
	color: #212134;
	margin-bottom: 20px;
}
h3:not(.winner h3, .inner h3) {
	font-size: 30px;
	font-weight: 900;
	color: #212134;
	margin-bottom: 10px;
}
h4 {
	font-size: 20px;
	font-weight: 800;
	color: #212134;
	margin: 30px 0 20px;
}
h5:not(.inner h5, .user-block h5, .product h5) {
	position: relative;
	font-size: 20px;
	margin-buttom: 25px;
	font-weight: 700;
	text-align: center;
	color: #212134;
}
.accent {
	font-size: 40px;
	font-weight: 900;
	color: #5CB176;
}
.info-list li {
	display: flex;
	align-items: baseline;
}
ul li:not(.free ul li, .info-list li) {
	list-style-type: none;
	display: flex;
	align-items: center;
}
button, input[type=submit], .border-btn {
	border: #2B7356 solid 5px;
	padding: 15px 30px;
	background: #fff;
	
	color: #2B7356;
	font-size: 18px;
	font-weight: 900;
	text-transform: uppercase;
	white-space: nowrap;
}
main {
	margin-top: 150px;
}
main section:not(.info-block, .banner-block) {
	padding: 70px 120px;
	display: flex;
	flex-wrap: wrap;
}
header {
	position: fixed;
	z-index: 100;
  top: 0;
  width: 100%; 
  transition: top 1s;
	padding: 40px 120px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	background: #212134;
}
header > div {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-between;
	align-items: center;
}
header a:not(.profile header a) {
	margin-left: 40px;
}
header a, footer a, nav a {
	text-decoration: none;
	color: #fff;
}
header a:hover {
	display: inline-block;
	transform: scale(1.1);
	-webkit-transform:scale(1.1);
	-moz-transform:scale(1.1);
	/*transform-origin: right;*/
}
.logo {
	width: 200px;
	height: 60px;
}
nav, .nav {
	width: 100%;
	padding: 20px 120px;
	display: flex;
	justify-content: space-between;
	background: #212134;
	color: #fff;
}
nav {
	padding: 20px 0;
}
nav > span {
	display: flex;
	align-items: center;
}
footer {
	padding: 92px 120px;
	background: #212134;
	display: flex;
	justify-content: space-between;
	color: #fff;
}
footer > div:nth-child(1) {
	display: flex;
	flex-direction: column;
}
footer > div:nth-child(1) img {
	margin-bottom: 10px;
}
footer > div:nth-child(2) {
	display: flex;
}
footer > div:nth-child(2) ul:first-child {
	margin-right: 70px;
}
footer > div:nth-child(2) ul li {
	margin-bottom: 25px;
}
footer > div:nth-child(3) {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: flex-end;
	text-align: right;
}
footer > div:nth-child(3) > * {
	margin-bottom: 30px;
}
footer > div:nth-child(3) img {
	width: 50px;
	height: 50px;
}




















#element-toggle, .blur-bcg {
  display: none;
}
#element-toggle:not(:checked) ~ #myModal  {
  display: none;
}
.modal-container {
	width: 100%;
	position: absolute;
	z-index: 4;
	height: 100vh;
	background: #2B735640;
	backdrop-filter: blur(2px);
	-webkit-backdrop--filter: blur(2px);
	display: flex;
	justify-content: center;
	align-items: center;
}
.hide-part {
	position: relative;
	z-index: 1;
}
.product .modal-container {
	width: 43%;
	padding-right: 30px;
	position: absolute;
	z-index: 4;
	height: auto;
	background: #fff;
	backdrop-filter: blur(0px);
}
.modal:not(.product .modal) {
  max-width: 560px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 0px 15px #00000080;
}
.product .modal {
	max-width: 1160px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.profile .modal {
	box-shadow: 0px 0px 15px #2B735660;
}
.button:hover, input[type=submit] {
	cursor: pointer;
}
.modal h4 {
	text-align: center;
}
.modal input[type=text] {
	max-width: 400px;
	width: 100%;
	padding: 15px 20px;
	background: #E4E4E4;
	display: block;
	margin-bottom: 15px;
	border: none;
	border-radius: 5px;
}
.modal input::placeholder {
	color: #AFAFAF;
	font-weight: 400;
	font-size: 16px;
}
.modal > div:not(.take-tickets-container, .choose-ticket, .example) {
	width: 100%;
	position: relative;
	display: flex;
	align-items: baseline;
	justify-content: center;
}
.modal img:not(.product .modal img) {
	transform: translate(135px,-35px);
}
.product .modal img {
	opacity: 0.5;
	margin-bottom: 15px;
}
.product .modal label {
	align-self: flex-end;
}
.product .modal img:hover {
	opacity: 1;
}
.modal span:not(.product .modal span) {
	max-width: 400px;
	width: 100%;
	color: #979797;
	font-weight: 300;
	margin-bottom: 30px;
}
@media screen and (max-width: 1700px) {
	h1 {
		font-size: 50px;
	}
	.accent {
		font-size: 35px;
	}
}
@media screen and (max-width: 1540px)  {
	h2 {
		font-size: 40px;
	}
}
@media screen and (max-width: 1400px) {
	.product .modal-container {
		width: 100%;
		padding-right: 0;
		position: absolute;
		z-index: 4;
		height: 100vh;
		background: #2B735640;
		backdrop-filter: blur(2px);
		-webkit-backdrop--filter: blur(2px);
		transform: translate(0, -70px);
	}
	.product .modal {
		max-width: 800px;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 30px 50px;
		border-radius: 12px;
		background: #fff;
		box-shadow: 0px 0px 15px #00000080;
	}
}
@media screen and (max-width: 1200px) {
	main section:not(.info-block, .banner-block) {
		padding: 0 40px;
	}
	h1 {
		font-size: 45px;
	}
	h2 {
		font-size: 35px;
		margin-bottom: 20px;
	}
	h3:not(.inner h3) {
		font-size: 25px;
		margin-bottom: 0px;
	}
	h4 {
		font-size: 18px;
		margin: 30px 0 20px;
	}
	h5:not(.inner h5) {
		font-size: 20px;
	}
	.product .modal-container {
		transform: translate(0, -50px);
	}
	.product .modal {
		max-width: 670px;
	}
	button, input[type=submit], .border-btn {
		font-size: 14px;
	}
}
@media screen and (max-width: 1280px) {
	h1 {
		font-size: 50px;
		font-weight: 900;
		color: #212134
	}
	h2 {
		font-size: 35px;
		margin-bottom: 20px;
	}
	h3:not(.winner h3, .inner h3) {
		font-size: 25px;
		margin-bottom: 10px;
	}
	h5:not(.inner h5, .user-block h5, .product h5) {
		font-size: 18px;
		margin-buttom: 25px;
	}
	.accent {
		font-size: 35px;
	}

}
@media screen and (max-width: 800px) {
	h1 {
		font-size: 45px;
	}
	h2 {
		font-size: 30px;
		margin-bottom: 20px;
	}
	h3:not(.winner h3, .inner h3) {
		font-size: 20px;
		margin-bottom: 10px;
	}
	h5:not(.inner h5, .user-block h5, .product h5) {
		font-size: 15px;
		margin-buttom: 20px;
	}
	.accent {
		font-size: 30px;
	}


	.product .modal-container {
		transform: translate(0, -50px);
	}
	.product .modal {
		padding: 30px;
		max-width: 480px;
	}
	button, input[type=submit], .border-btn {
		padding: 15px;
	}
}
@media screen and (max-width: 600px) {
	h5:not(.inner h5) {
		font-size: 16px;
	}

}
@media screen and (max-width: 500px) {
	main section:not(.info-block, .banner-block) {
		padding: 15px;
	}
	h3:not(.inner h3) {
		font-size: 16px;
	}
	h4 {
		font-size: 14px;
		margin: 10px 0 0;
	}
	h5:not(.inner h5) {
		font-size: 14px;
	}
}