.product {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	font-size: 20px;
	font-weight: 500;
}
.product > div {
	width: 50%;
	min-width: 400px;
}
.product > div:nth-child(1) {
	padding-right: 80px;
}
.product > div:nth-child(2) {
	padding-left: 80px;
}
.product p {
	margin-top: 15px;
	font-size: 16px;
	font-weight: 400;	
}
.product h1 {
	margin-bottom: 50px;
}
.statistics {
	display: flex;
	font-weight: 300;
	font-size: 14px;
}
.statistics > div {
	display: flex;
	align-items: center;
	margin-right: 40px;
	margin-top: 25px;
}
.statistics span {
	color: #2B7356;
	margin: 0 5px;
	font-weight: 600;
}
.statistics img {
	margin-right: 10px;
}
.percents {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 60px 0 5px;
}
.stripe, .stripe > span {
	width: 100%;
}
.stripe > span {
	display: block;
	background-color: #e2e2e2;
	height: 12px;
	padding: 2px;
	border-radius: 20px;
}
.stripe > span > span {
	width: 73%;
	height: 8px;
	display: block;
	border-radius: 20px;
	background-color: #2B7356;
}
.choose-ticket, .choose-ticket > div:not(.choosed-ticket) {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.choose-ticket {
	margin-top: 50px;
}
.choose-ticket button {
	margin: 0 30px 0 0;
}
.choose-ticket span {
	display: inline-block;
	margin-left: 15px;
	width: 50px;
	/*color: #2B7356;*/
}
.choose-ticket h2 {
	margin: 0 0 0 80px;
}








:root {
  --smaller: .75;
}
.container {
  color: #333;
  margin: 0 auto;
  text-align: center;
  margin: 30px 0;
}
li span {
  display: block;
	font-size: 60px;
	font-weight: 300;
	text-align: left;
}
.emoji {
  display: none;
  padding: 1rem;
}
.emoji span {
  font-size: 4rem;
  padding: 0 .5rem;
}
.ul {
	display: flex;
	flex-direction: row;
}
.ul li {
	flex-direction: column;
	margin: 0 20px;
}
.ul li, .colon {
	color: #2B7356;
}
.ul li .black {
	color: #212134;
}
.colon {
	font-size: 55px;
	font-weight: 300;
	transform: translateY(-5px);
}


.take-tickets-container {
	margin: 30px 0 20px;
	padding: 10px 25px 10px 10px;
	width: 100%;
	height: 202px;
	overflow-y: scroll;
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(auto-fill, minmax(44px, max-content));
	grid-template-rows: repeat(auto-fill, minmax(44px, max-content));
	justify-items: center;
	border: #DCDCDC solid 1px;
	background: #F9F9F9;
}
.take-tickets-container::-webkit-scrollbar {
	width: 7px;
	border-radius: 30px;
}
.take-tickets-container::-webkit-scrollbar-track {
	background: #E6E6E6;
}
.take-tickets-container::-webkit-scrollbar-thumb {
	background: #2B7356;
	border-radius: 30px;
	width: 7px;
	height: 22px;
}
.take-tickets-container label span, .ticket-1, .ticket-2, .ticket-3 {
	width: 38px;
	height: 38px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: #2B7356 solid 4px;
	font-size: 20px;
	color: #2B7356;
	font-weight: 700;
}
.take-tickets-container input[type="checkbox"]:checked + label {
	background: #2B7356;
	color: #fff;
}
input:disabled + span, .ticket-3 {
	border: #979797 solid 4px;
	color: #979797;
}
label input:not(input:disabled) ~ span:hover {
	cursor: pointer;
	background: #2B7356;
	color: #fff;
}
label input:checked ~ span, .ticket-2 {
	background: #2B7356;
	color: #fff;
}
.take-tickets-container input[type=checkbox] {
	opacity: 0;
	display: none;
}
.example {
	width: 100%;
}
.example, .example > div {
	display: flex;
	align-items: center;
	/*flex-wrap: wrap;*/
}
.example > div {
	margin-bottom: 10px;
}
.example span {
	margin-right: 20px;
	margin-left: 12px;
	font-size: 14px;
	font-weight: 400;
	white-space: pre-wrap;
	text-align: left;
}
.choosed-ticket {
	/*display: flex;
	flex-direction: column;*/
	text-align: left;
	font-size: 14px;
	color: #212134;
	font-weight: 400;
}
.choosed-ticket span {
	margin-left: 10px;
	color: #2B7356;
	font-size: 20px;
}*/
@media all and (max-width: 768px) {
	h1 {
		font-size: calc(1.5rem * var(--smaller));
	}
	
	li {
		font-size: calc(1.125rem * var(--smaller));
	}
	
	li span {
		font-size: calc(3.375rem * var(--smaller));
	}
}


.countdown {
  color: #212134;
  font-weight: 300;
  margin: 10px 0 30px;
  display: flex;
  align-items: baseline;
  text-align: center;
  font-size: 60px;
}

.countdown-number {
  padding: 10px;
  display: inline-block;
}

.countdown-time {
  display: inline-block;
}

.countdown-text {
  display: block;
  font-weight: 300;
  font-size: 20px;
  color: #2B7356;
}
@media screen and (max-width: 1400px) {
	.product {
		flex-direction: column-reverse;
		text-align: center;
	}
	.product > div {
		width: 100%;
	}
	.product > div:nth-child(2) {
		margin-bottom: 80px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.product > div:nth-child(1), .product > div:nth-child(2) {
		padding: 0;
	}
	.example, .example > div {
		flex-wrap: wrap;
	}
}