/*.user-info h3 {
	word-break: break-all;
}*/
.user-block h4:not(.card h4) {
	margin: 0 0 0 30px;
}
.profile h5 {
	position: relative;
	text-align: left;
	padding: 0;
	margin-bottom: 30px;
}
.profile header, .profile .nav, .profile .nav a {
	color: #212134;
	background: #fff;
	justify-content: flex-end;
}
.profile header {
	flex-direction: row;
	justify-content: space-between;
	white-space: nowrap;
	padding-bottom: 0;
}
.profile .nav {
	margin-left: 60px;
	width: 50%;
}
.profile .nav > div, .profile .nav > a, .button {
	margin-left: 20px;
	font-size: 18px;
}
.user-info span, .user-tickets li {
	font-size: 20px;
}
.user-block > div {
	padding: 40px 30px 30px;
	margin: 0 20px 20px 0;
	border: #E6E6E6 solid 1px;
	
	font-weight: 500;
	font-size: 25px;
}
.user-block label {
	color: #000;
	text-decoration-line: underline;
	font-size: 20px;
	font-weight: 500;
	margin: 30px 15px 0 0;
}
.user-block a {
	color: #000;
	margin-top: 25px;
}
.user-info > div {
	margin-top: 30px;
}
.user-data > div {
	display: flex;
	min-width: 700px;
}
.profile .img-cont {
	width: 204px;
	height: 204px;
	border-radius: 120px;
	overflow: hidden;

	display: flex;
	align-items: center;
	justify-content: center;

	background: url(default-ava.png);
	background-position: cover;
	background-repeat: no-repeat;
}
.profile .img-cont img {
	object-fit: contain;
	transform: scale(0.65);
}
.user-info {
	margin-left: 50px;
	display: flex;
	flex-direction: column;
}
.user-tickets li {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}
.user-tickets img {
	width: 20px;
	height: auto;
	margin-right: 15px;
}
.user-bonus > div {
	display: flex;
	align-items: center;
}
.user-bonus img {
	width: 30px;
	height: auto;
	margin-left: 20px;
}

.card .other-data:not(.card .other-data span) {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.card .other-data > div {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 20px;
}
.other-data > div > div {
	display: flex;
	align-items: center;
	flex-wrap: wrap;

	color: #212134;
	font-size: 16px;
}
@media screen and (max-width: 1860px) {
	.user-data {
		max-width: 500px;
		width: 100%;
	}
	.user-info {
		width: 270px;
	}
	.user-info h3 {
		position: relative;
		word-wrap: break-word;
	}
	.profile .img-cont {
		width: 130px;
		height: 130px;
	}
	.profile .img-cont img {
		transform: scale(0.40);
	}
	.user-block > div {
		font-size: 14px;
	}
}
		
@media screen and (max-width: 1600px) {
	.profile h5 {
		margin-bottom: 20px;
	}
	.user-block a {
		margin-top: 10px;
	}
	.user-data > div {
		min-width: 420px;
	}
	.user-data {
		max-width: 1600px;
	}
	.user-block {
		justify-content: center;
	}
	.user-block > div {
		padding: 20px;
		margin: 0 20px 20px 0;

		display: flex;
		flex-direction: column;
		align-items: center;
		width: 80%;
	}
	.profile .nav > div, .profile .nav > a, .button {
		font-size: 14px;
		margin-left: 15px;
	}
	.user-info span, .user-tickets li, .user-block label {
		font-size: 16px;
	}
	.user-tickets li {
		margin-bottom: 10px;
	}
	.profile header {
		padding: 20px 40px;
	}
	.user-info > div {
		margin-top: 15px;
	}
}
@media screen and (max-width: 1200px) {
	.user-block > div {
		width: 100%;
	}
	.profile .nav > div, .profile .nav > a, .button:not(.modal .button, .user-info .button) {
		display: none;
	}
	.modal img {
		display: block;
	}
	.user-info .button {

	}
}
@media screen and (max-width: 600px) {
	.user-tickets img, .user-block a, .user-info .button, .user-block h4:not(.card h4), h3:not(.winner h3, .inner h3), .user-info span, .user-tickets li, .user-block label {
		font-size: 14px;
	}
	.profile .img-cont {
		width: 65px;
		height: 65px;
	}
	.profile .img-cont img {
		transform: scale(0.2);
	}
	.user-block h4:not(.card h4) {
		margin-left: 0 0 0 25px;
	}
	.user-info {
		margin-left: 10px;
		width: auto;
	}
	.user-data > div {
		min-width: 100px;
	}
	.user-block > div {
		margin: 0 0 20px;
		font-size: 20px;
	}
}